
@{
  Layout = "_Layout";
}
<h1>Leap year Calculator!</h1>

<form action="LeapYearResult" method="post">
  <label for="year">Enter a year</label>
  <input type="string" name="year" value="" id="year">
  <button type="submit" name="button">Submit</button>
</form>
